@{
  Layout = "_Layout";
}

@model TreatShop.Models.Flavor

<h3>@Html.DisplayFor(model => model.Name)'s Details</h3>

<h4>Treats that are @Html.DisplayFor(model => model.Name)</h4>

@if(@Model.JoinEntities.Count == 0)
{
  <p>There are no treats with this flavor!</p>
}
else
{
  @foreach (var join in Model.JoinEntities)
  {
      @using (Html.BeginForm("DeleteTreat", "Flavors"))
      {
        @Html.Hidden("joinId", @join.TreatFlavorId)
        <div class="form-group">
          <h5>@join.Treat.Name - <input type="submit" value="Remove" class="btn btn-danger btn-sm" style="font-size:.6em; padding:.25em"/></h5>
        </div>
      }
  }
}

<p>@Html.ActionLink("Add a treat", "AddTreat", new { id = Model.FlavorId }) - @Html.ActionLink("Edit this flavor", "Edit", new { id = Model.FlavorId }) - @Html.ActionLink("Delete this flavor", "Delete", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>