@{
  Layout = "_Layout";
}

@model TreatShop.Models.Treat

<h3>@Html.DisplayFor(model => model.Name)'s Details</h3>

<h4>@Html.DisplayFor(model => model.Name)'s Flavors</h4>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This treat does not have any flavor!</p>
}
else
{
  @foreach (var join in Model.JoinEntities)
  {
      @using (Html.BeginForm("DeleteFlavor", "Treats"))
      {
        @Html.Hidden("joinId", @join.TreatFlavorId)
        <div class="form-group">
          <h5>@join.Flavor.Name - <input type="submit" value="Remove"class="btn btn-danger btn-sm" style="font-size:.6em; padding:.25em"/></h5>
        </div>
      }
  }
}
@if (User.Identity.IsAuthenticated)
{
  <p>@Html.ActionLink("Add a flavor", "AddFlavor", new { id = Model.TreatId }) - @Html.ActionLink("Edit this treat", "Edit", new { id = Model.TreatId }) - @Html.ActionLink("Delete this treat", "Delete", new { id = Model.TreatId })</p>
}
<p>@Html.ActionLink("Back to list", "Index")</p>